name: deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: 'refs/heads/github-pages'
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm install
    - run: npm run build
    - run: git add dist -f
    - run: git config --global user.email "nikremenskovs@gmail.com"
    - run: git config --global user.name "nikremenskovs"
    - run: git commit -m "Deployed via GitHub Actions"
    - run: git pull origin github-pages --rebase
    - run: git push --force origin HEAD:github-pages
